*~
*_
*~bak
*-bak
*.bak
bin
build.properties
.checkstyle
.classpath
.DS_Store
*.gpd.*
.idea
*.iml
*.ipr
*.iws
*.log
.metadata
.project
.settings
target
node_modules
.vscode
/*.bat
/dokk-portal/*.bat
test-output
**/typings/dep/**/*
.sonar/
cjar.bat
*.bat
*.sh
